@import url('../vendor/normalize.css');
@import url('../vendor/font.css');
@import url('../block/registration.css');
@import url('../block/header.css');

html {
    background-color: #fAfAfA;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    /* ensure no margin */
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #fAfAfA;
    font-family: 'Merriweather', 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.hide {
    display: none;
}